# Importing some packages

In [29]:
import pandas as pd
import numpy as np
import re

# Loading the data

In [30]:
df = pd.read_csv('data/estate.csv')
df.head()

,description,address,usd_price,amd_price,rub_price,seller_type,attributes,total_description,places_nearby,posted_date,renewed_date,seller_id,estate_type,estate_id
0,"2 room apartment, Pushkin Street, 48 sq.m., 3/...","Pushkin Street, Yerevan",165000,64779000,15386936,00591Agency,"[('Construction Type', 'Panels'), ('New Constr...",A 2-room apartment with an area of 48 square m...,Opera Theatre; Republic Square; Cascade; Verni...,2024-02-03,2024-04-19 00:00:00,capitalcity,apartment,/en/item/20602332
1,"3 room apartment on Yervand Kochar street, 90 ...","Yervand Kochar street, Yerevan",170000,66742000,15853207,307992Agency,"[('Construction Type', 'Panels'), ('New Constr...",For sale: 3-room E. On Kochar street. The apar...,Saint Gregory the Illuminator Cathedral; Verni...,2023-02-13,2024-04-18 00:00:00,658934,apartment,/en/item/19008391
2,"2 room apartment on Shahumyan 1st street, 62 s...","Shahumyan 1st street 4, Yerevan",88000,34548800,8206366,NaN,"[('Construction Type', 'Stone'), ('New Constru...",An apartment in Araratra 1 block is for sale w...,Unknown,2023-09-27,2024-04-20 00:00:00,21606,apartment,/en/item/20049462
3,"3 room apartment on Moldovakan street, 68 sq.m...","Մոլդովական փողոց 48/3, Yerevan",130000,51038000,12123040,NaN,"[('Construction Type', 'Panels'), ('New Constr...","In the 2nd block of Nor Nork, a 3-room apartme...",Unknown,2023-09-27,2024-04-20 00:00:00,1375140,apartment,/en/item/20050503
4,"3 room apartment, Vardanants Street, 68 sq.m.,...","Vardanants Street, Yerevan",165000,64779000,15386936,3k48Agency,"[('Construction Type', 'Panels'), ('New Constr...",(code 3k48) 3-room apartment for sale in the c...,Saint Gregory the Illuminator Cathedral; Verni...,2023-10-20,2024-04-18 00:00:00,2572754,apartment,/en/item/20153128

# EDA

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7491 entries, 0 to 7490
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   description        7491 non-null   object
 1   address            7491 non-null   object
 2   usd_price          7491 non-null   object
 3   amd_price          7491 non-null   object
 4   rub_price          7491 non-null   object
 5   seller_type        6472 non-null   object
 6   attributes         7491 non-null   object
 7   total_description  7491 non-null   object
 8   places_nearby      7491 non-null   object
 9   posted_date        7491 non-null   object
 10  renewed_date       7491 non-null   object
 11  seller_id          7491 non-null   object
 12  estate_type        7491 non-null   object
 13  estate_id          7491 non-null   object
dtypes: object(14)
memory usage: 819.5+ KB

### Removing rows for which the price is not available

In [32]:
df = df[df['usd_price']!='Unknown'].reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7085 entries, 0 to 7084
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   description        7085 non-null   object
 1   address            7085 non-null   object
 2   usd_price          7085 non-null   object
 3   amd_price          7085 non-null   object
 4   rub_price          7085 non-null   object
 5   seller_type        6066 non-null   object
 6   attributes         7085 non-null   object
 7   total_description  7085 non-null   object
 8   places_nearby      7085 non-null   object
 9   posted_date        7085 non-null   object
 10  renewed_date       7085 non-null   object
 11  seller_id          7085 non-null   object
 12  estate_type        7085 non-null   object
 13  estate_id          7085 non-null   object
dtypes: object(14)
memory usage: 775.0+ KB

In [64]:
df[df['renewed_date']=='Unknown']

,description,address,seller_type,total_description,places_nearby,posted_date,renewed_date,seller_id,estate_type,estate_id,...,dishwasher,yard view,view of Ararat,park view,city view,street view,concierge,playground,intercom entry,sqm_price_usd
9,"3 room apartment, Ադոնցի փողոց, 101 sq.m., 3/8...","Ադոնցի փողոց 4/3, Երևան",individual,It is possible to sell with or without furnitu...,Unknown,2024-04-19,Unknown,165632,apartment,/en/item/20922312,...,1,1,0,0,0,1,0,1,0,2772.277228
34,"2 room apartment on Zakaria Sarkavag street, 6...","Zakaria Sarkavag street, Yerevan",agency,A 2-room apartment is for sale in one of the s...,Unknown,2024-04-19,Unknown,2470975,apartment,/en/item/20919760,...,0,1,0,0,0,0,0,0,0,1159.420290
62,"4 room apartment in a new building, Komitas Av...","Проспект Комитаса 59, Yerevan",agency,Многофункциональный жилой комплекс состоит из ...,Russian-Armenian University; Barekamutyun Metr...,2024-04-20,Unknown,2999545,apartment,/en/item/20923773,...,0,1,1,0,1,0,1,1,1,2167.785714
95,"3 room apartment, Gusan Sheram Street, 80 sq.m...","Gusan Sheram Street, Yerevan",agency,A converted 3/4 room apartment is for sale in ...,Unknown,2024-04-19,Unknown,1294205,apartment,/en/item/20921675,...,0,0,0,0,0,0,0,0,0,1275.000000
99,"1 room apartment on Lepsius street, 31 sq.m., ...","Lepsius street, Yerevan",agency,"1-room apartment for sale, 14 Krug Street, the...",Unknown,2024-04-19,Unknown,47627,apartment,/en/item/20922289,...,0,1,0,0,0,0,0,1,0,1580.645161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6948,3 room apartment in a new building on Verin An...,"Verin Antarayin street, Yerevan",agency,A 3-room apartment is for sale on Verin Antara...,Marshal Baghramyan Metro Station; Lovers Park;...,2024-04-19,Unknown,2933967,apartment,/en/item/20922250,...,1,1,1,0,0,1,0,1,1,3125.000000
6994,"3 room apartment, Sayat Nova avenue, 88 sq.m.,...","Sayat Nova avenu 37, Երևան",individual,"An apartment is for sale in Sayat Nova Avenue,...",Opera Theatre; Yeritasardakan Metro Station; R...,2024-04-19,Unknown,48218,apartment,/en/item/20922297,...,1,1,0,0,0,1,0,0,0,2443.181818
7028,3 room apartment in a new building on Leningra...,"Լենինգրադյան փողոց, Yerevan",agency,A 3-room apartment in a newly built building i...,Kievyan Bridge,2024-04-17,Unknown,charents,apartment,/en/item/20914116,...,0,1,1,1,1,1,1,1,1,1776.315789
7048,"2 room apartment, Shopron street 1st lane, 61 ...","Շոպրոնի 1-ին նրբանցք, Երևան",agency,An apartment is for sale in the 6th block of N...,Unknown,2024-04-18,Unknown,2997367,apartment,/en/item/20917378,...,0,0,0,0,0,0,0,0,0,1442.622951
7053,"3 room apartment in a new building, Tsarav Agh...","Tsarav Aghbyuri Street, Yerevan",agency,"3 rooms for sale. Apartment in Avan, in the ne...",Unknown,2024-04-18,Unknown,87118,apartment,/en/item/20915557,...,0,1,0,1,0,1,0,0,1,2173.913043

### Setting the dates to right format

In [65]:
def create_dates(x):
    try:
        return pd.to_datetime(x)
    except:
        return 'not renewed'

df['posted_date'] = pd.to_datetime(df['posted_date'])
df['renewed_date'] = df['renewed_date'].apply(create_dates)

### Splitting attributes column to features

In [33]:
possible_attributes_list = list(
    set(
        [
            j.replace('[(', '').replace(')]', '').replace('(', '').\
            replace("'", '').split(',')[0].strip()
            for i in range(df.shape[0]) 
            for j in df.iloc[i]['attributes'].split('),')
        ]
    )
)

def split_attributes(x):
    attrs_tuple_list = x.split('),')
    attrs_tuple_list = [
        i.replace('[(', '').replace(')]', '').replace('(', '').\
        replace("'", '').split(',') 
        for i in attrs_tuple_list
    ]
    attrs_dict = {i[0].strip(): ', '.join([j.strip() for j in i[1:]]) for i in attrs_tuple_list}
    return attrs_dict


for possible_attribute in possible_attributes_list:
    df[possible_attribute] = df['attributes'].apply(
        lambda x: split_attributes(x)[possible_attribute] 
        if possible_attribute in split_attributes(x) 
        else 'Unknown'
    )
    print(f"{possible_attribute} values: {list(df[possible_attribute].unique())}")

df.drop(columns='attributes', inplace=True)

Floors in the Building values: ['9', '16', '5', '10', '4', '3', '8', '11', '14', '21', '15', '6', '23', '1', '7', '18', '12', '20', '13', '17', '2', '32+', '19', '22', '30']
Floor Area values: ['48 sq.m.', '90 sq.m.', '62 sq.m.', '68 sq.m.', '88 sq.m.', '86 sq.m.', '50 sq.m.', '79 sq.m.', '101 sq.m.', '66 sq.m.', '46 sq.m.', '92 sq.m.', '98 sq.m.', '115 sq.m.', '65 sq.m.', '75 sq.m.', '47 sq.m.', '72 sq.m.', '80 sq.m.', '37 sq.m.', '94 sq.m.', '89 sq.m.', '93 sq.m.', '104 sq.m.', '100 sq.m.', '30 sq.m.', '73 sq.m.', '165 sq.m.', '82 sq.m.', '69 sq.m.', '172 sq.m.', '175 sq.m.', '77 sq.m.', '132 sq.m.', '54 sq.m.', '95 sq.m.', '57 sq.m.', '67 sq.m.', '117 sq.m.', '150 sq.m.', '51 sq.m.', '70 sq.m.', '105 sq.m.', '128 sq.m.', '107 sq.m.', '85 sq.m.', '140 sq.m.', '45 sq.m.', '58 sq.m.', '120 sq.m.', '118 sq.m.', '71 sq.m.', '49 sq.m.', '44 sq.m.', '122 sq.m.', '56 sq.m.', '230 sq.m.', '60 sq.m.', '74 sq.m.', '108 sq.m.', '64 sq.m.', '78 sq.m.', '96 sq.m.', '42 sq.m.', '63 sq.m.', '31 sq.m.', '200 sq.m.', '83 sq.m.', '119 sq.m.', '135 sq.m.', '52 sq.m.', '178 sq.m.', '34 sq.m.', '36 sq.m.', '41 sq.m.', '87 sq.m.', '123 sq.m.', '76 sq.m.', '106 sq.m.', '61 sq.m.', '33 sq.m.', '40 sq.m.', '38 sq.m.', '206 sq.m.', '32 sq.m.', '133 sq.m.', '81 sq.m.', '55 sq.m.', '134 sq.m.', '84 sq.m.', '91 sq.m.', '110 sq.m.', '97 sq.m.', '142 sq.m.', '170 sq.m.', '125 sq.m.', '109 sq.m.', '111 sq.m.', '59 sq.m.', '39 sq.m.', '43 sq.m.', '138 sq.m.', '18 sq.m.', '185 sq.m.', '116 sq.m.', '114 sq.m.', '136 sq.m.', '213 sq.m.', '124 sq.m.', '160 sq.m.', '235 sq.m.', '210 sq.m.', '127 sq.m.', '103 sq.m.', '112 sq.m.', '53 sq.m.', '139 sq.m.', '130 sq.m.', '250 sq.m.', '145 sq.m.', '183 sq.m.', '102 sq.m.', '113 sq.m.', '196 sq.m.', '1400 sq.m.', '154 sq.m.', '195 sq.m.', '180 sq.m.', '188 sq.m.', '232 sq.m.', '300 sq.m.', '26 sq.m.', '35 sq.m.', '129 sq.m.', '21 sq.m.', '155 sq.m.', '193 sq.m.', '28 sq.m.', '162 sq.m.', '143 sq.m.', '280 sq.m.', '226 sq.m.', '25 sq.m.', '264 sq.m.', '760 sq.m.', '141 sq.m.', '152 sq.m.', '480 sq.m.', '29 sq.m.', '126 sq.m.', '137 sq.m.', '156 sq.m.', '151 sq.m.', '450 sq.m.', '20 sq.m.', '161 sq.m.', '17 sq.m.', '121 sq.m.', '144 sq.m.', '254 sq.m.', '99 sq.m.', '5140 sq.m.', '1000 sq.m.', '215 sq.m.', '231 sq.m.', '23 sq.m.', '163 sq.m.', '167 sq.m.', '148 sq.m.', '233 sq.m.', '190 sq.m.', '267 sq.m.', '418 sq.m.', '276 sq.m.', '285 sq.m.', '158 sq.m.', '320 sq.m.', '131 sq.m.', '149 sq.m.', '24 sq.m.', '22 sq.m.', '248 sq.m.', '270 sq.m.', '405 sq.m.', '177 sq.m.', '157 sq.m.', '176 sq.m.', '153 sq.m.', '290 sq.m.', '224 sq.m.', '207 sq.m.', '197 sq.m.', '400 sq.m.', '273 sq.m.', '750 sq.m.', '366 sq.m.', '288 sq.m.', '181 sq.m.', '192 sq.m.', '189 sq.m.', '201 sq.m.', '307 sq.m.', '212 sq.m.', '258 sq.m.', '147 sq.m.', '220 sq.m.', '146 sq.m.', '27 sq.m.', '225 sq.m.', '169 sq.m.', '182 sq.m.', '173 sq.m.', '208 sq.m.', '430 sq.m.', '247 sq.m.', '14 sq.m.', '234 sq.m.', '610 sq.m.', '243 sq.m.', '187 sq.m.', '168 sq.m.', '174 sq.m.', '171 sq.m.', '164 sq.m.', '203 sq.m.', '202 sq.m.']
Renovation values: ['Euro Renovation', 'Major Renovation', 'Old Renovation', 'Cosmetic Renovation', 'Designer Renovation', 'Partial Renovation', 'No Renovation']
The House Has values: ['Unknown', 'Intercom entry', 'Playground', 'Intercom entry, playground', 'Intercom entry, concierge, playground', 'Intercom entry, concierge', 'Concierge', 'Concierge, playground']
Construction Type values: ['Panels', 'Stone', 'Monolith', 'Bricks', 'Cassette', 'Wooden']
Window Views values: ['Yard view', 'Unknown', 'Yard view, street view, city view, view of Ararat', 'Yard view, street view', 'Yard view, street view, city view', 'Yard view, street view, city view, park view, view of Ararat', 'City view, park view', 'Yard view, city view, view of Ararat', 'Street view, city view', 'Yard view, street view, park view', 'Yard view, park view', 'Yard view, city view, park view, view of Ararat', 'Yard view, street view, city view, park view', 'Yard view, city view, park view', 'Street view, city view, park view, view of Ararat', 'City view', 'City view, view of Ararat', 'Yard view, park view, view of Ararat', 'Yard view, city view', 'Street view', 'Yard view, view of Ararat', 'Yard view, street view, park view, view of Ararat', 'Street view, city view, view of Ararat', 'City view, park view, view of Ararat', 'Street view, city view, park view', 'Yard view, street view, view of Ararat', 'Park view', 'Park view, view of Ararat', 'View of Ararat', 'Street view, park view', 'Street view, park view, view of Ararat', 'Street view, view of Ararat']
Ceiling Height values: ['from 2.75 m', 'from 2.8 m', 'from 2.6 m', 'from 2.7 m', 'from 3.2 m', 'from 3 m', 'from 3.5 m', 'from 2.5 m']
Balcony values: ['Not available', 'Multiple balconies', 'Closed balcony', 'Open balcony']
Furniture values: ['Available', 'By agreement', 'Partial Furniture', 'Not available', 'Unknown']
Number of Rooms values: ['2', '3', '1', '4', '5', '6', '8+', '7']
Number of Bathrooms values: ['1', '2', '3+']
Elevator values: ['Available', 'Not available']
Appliances values: ['Air conditioner, fridge, stove, washing machine', 'Unknown', 'Fridge, stove, washing machine', 'Fridge, stove, dishwasher, washing machine, drying machine', 'Air conditioner', 'Air conditioner, fridge, washing machine', 'Stove', 'Air conditioner, fridge, stove, dishwasher, washing machine', 'Stove, washing machine', 'Fridge, stove, dishwasher, washing machine', 'Air conditioner, fridge', 'Air conditioner, fridge, stove, dishwasher, washing machine, drying machine', 'Air conditioner, fridge, stove', 'Air conditioner, stove', 'Fridge, washing machine', 'Fridge, stove', 'Fridge', 'Air conditioner, fridge, dishwasher, washing machine', 'Washing machine, drying machine', 'Air conditioner, fridge, stove, dishwasher', 'Fridge, stove, dishwasher', 'Air conditioner, stove, dishwasher', 'Dishwasher', 'Washing machine', 'Air conditioner, washing machine', 'Air conditioner, dishwasher, washing machine', 'Air conditioner, fridge, stove, drying machine', 'Air conditioner, fridge, stove, washing machine, drying machine', 'Air conditioner, fridge, dishwasher', 'Fridge, washing machine, drying machine', 'Fridge, stove, washing machine, drying machine', 'Air conditioner, stove, washing machine', 'Drying machine', 'Stove, dishwasher, washing machine', 'Dishwasher, washing machine', 'Air conditioner, fridge, stove, dishwasher, drying machine', 'Fridge, dishwasher, washing machine, drying machine', 'Air conditioner, fridge, dishwasher, washing machine, drying machine', 'Fridge, dishwasher', 'Air conditioner, fridge, washing machine, drying machine', 'Fridge, dishwasher, washing machine', 'Air conditioner, dishwasher', 'Air conditioner, stove, dishwasher, washing machine']
Parking values: ['Outdoor parking', 'Unknown', 'Outdoor parking, garage', 'Covered parking', 'Outdoor parking, covered parking', 'Garage', 'Covered parking, garage', 'Outdoor parking, covered parking, garage']
Floor values: ['3', '14', '4', '1', '13', '2', '7', '5', '11', '8', '10', '9', '15', '6', '12', '16', '21', '20', '17', '19', '18', '22', '24']
New Construction values: ['No', 'Yes']

#### Parking splitting

In [34]:
possible_parking_list = list(set(', '.join([i.lower().strip() for i in df['Parking'].unique()]).split(',')))
possible_parking_list = list(set([i.strip() for i in possible_parking_list if i.strip()!='unknown']))

def get_window_view_list(x):
    if len(x.split(',')) > 1:
        return [i.lower().strip() for i in x.split(',')]
    else:
        return [x.lower().strip()]

for possible_parking in possible_parking_list:
    df[possible_parking] = df['Parking'].apply(lambda x: 1 if possible_parking in get_window_view_list(x) else 0)
    print(f"{possible_parking} values: {list(df[possible_parking].unique())}")

df.drop(columns='Parking', inplace=True)

garage values: [0, 1]
covered parking values: [0, 1]
outdoor parking values: [1, 0]

#### Appliances splitting

In [35]:
possible_appliances_list = list(set(', '.join([i.lower().strip() for i in df['Appliances'].unique()]).split(',')))
possible_appliances_list = list(set([i.strip() for i in possible_appliances_list if i.strip()!='unknown']))

def get_window_view_list(x):
    if len(x.split(',')) > 1:
        return [i.lower().strip() for i in x.split(',')]
    else:
        return [x.lower().strip()]

for possible_appliance in possible_appliances_list:
    df[possible_appliance] = df['Appliances'].apply(lambda x: 1 if possible_appliance in get_window_view_list(x) else 0)
    print(f"{possible_appliance} values: {list(df[possible_appliance].unique())}")

df.drop(columns='Appliances', inplace=True)

stove values: [1, 0]
air conditioner values: [1, 0]
drying machine values: [0, 1]
fridge values: [1, 0]
washing machine values: [1, 0]
dishwasher values: [0, 1]

#### creating a new category for Elevator feature

In [36]:
df['Elevator'] = df['Elevator'].apply(lambda x: 'absent' if x.lower() in ['unknown', 'not available'] else x.lower())

#### creating a new category for Furniture feature

In [37]:
df['Furniture'] = df['Furniture'].apply(lambda x: 'absent' if x.lower() in ['unknown', 'not available', 'by agreement'] else x.lower())

#### Window Views splitting

In [38]:
possible_window_view_list = list(set(', '.join([i.lower().strip() for i in df['Window Views'].unique()]).split(',')))
possible_window_view_list = list(set([i.strip().replace('ararat', 'Ararat') for i in possible_window_view_list if i.strip()!='unknown']))

def get_window_view_list(x):
    if len(x.split(',')) > 1:
        return [i.lower().strip().replace('ararat', 'Ararat') for i in x.split(',')]
    else:
        return [x.lower().strip().replace('ararat', 'Ararat')]

for possible_window_view in possible_window_view_list:
    df[possible_window_view] = df['Window Views'].apply(lambda x: 1 if possible_window_view in get_window_view_list(x) else 0)
    print(f"{possible_window_view} values: {list(df[possible_window_view].unique())}")

df.drop(columns='Window Views', inplace=True)

yard view values: [1, 0]
view of Ararat values: [0, 1]
park view values: [0, 1]
city view values: [0, 1]
street view values: [0, 1]

#### creating new category for Renovation feature

In [39]:
df['Renovation'] = df['Renovation'].apply(lambda x: 'absent' if x.lower() in ['unknown', 'no renovation'] else x.lower())

#### Floor Area extraction

In [40]:
def get_sqm(x):
    try:
        return int(re.findall(r'\d?\d?\d?\.?\d?\d?', x)[0])
    except:
        return 999
    
df['Floor Area'] = df['Floor Area'].apply(get_sqm)

#### Floors in the Building extraction

In [41]:
def get_building_floors_num(x):
    try:
        return int(re.findall(r'\d?\d?', x)[0])
    except:
        return 999
    
df['Floors in the Building'] = df['Floors in the Building'].apply(get_building_floors_num)

#### creating a new category in Balcony feature

In [42]:
df['Balcony'] = df['Balcony'].apply(lambda x: 'absent' if x.lower() in ['unknown', 'not available'] else x.lower())

#### Ceiling height extraction

In [43]:
def get_ceiling_height(x):
    try:
        return float(re.findall(r'\d.?\d?\d?', x)[0])
    except:
        return 999
    
df['Ceiling Height'] = df['Ceiling Height'].apply(get_ceiling_height)

#### Floor extraction

In [44]:
def get_floor_num(x):
    try:
        return int(re.findall(r'\d?\d?', x)[0])
    except:
        return 999
    
df['Floor'] = df['Floor'].apply(get_floor_num)

#### "The House Has" column splitting

In [45]:
possible_has_list = list(set(', '.join([i.lower() for i in df['The House Has'].unique()]).split(',')))
possible_has_list = list(set([i.strip() for i in possible_has_list if i.strip()!='unknown']))

def get_has_list(x):
    if len(x.split(',')) > 1:
        return [i.lower().strip() for i in x.split(',')]
    else:
        return [x.lower().strip()]

for possible_has in possible_has_list:
    df[possible_has] = df['The House Has'].apply(lambda x: 1 if possible_has in get_has_list(x) else 0)
    print(f"{possible_has} values: {list(df[possible_has].unique())}")

df.drop(columns='The House Has', inplace=True)

concierge values: [0, 1]
playground values: [0, 1]
intercom entry values: [0, 1]

### Getting square meter prices

In [51]:
# removing rows where floor area is missing
df = df[df['Floor Area']!=999].reset_index(drop=True)

df['usd_price'] = df['usd_price'].apply(float)

df['sqm_price_usd'] =  df['usd_price'] / df['Floor Area']
# df['sqm_price_amd'] = df['amd_price'] / df['Floor Area']
# df['sqm_price_rub'] = df['rub_price'] / df['Floor Area']

df.drop(columns=['usd_price', 'amd_price', 'rub_price'], inplace=True)

### "Tuning" seller_type feature

In [61]:
df['seller_type'].fillna('individual', inplace=True)
df['seller_type'] = df['seller_type'].apply(lambda x: 'agency' if 'Agency' in x else 'individual')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7085 entries, 0 to 7084
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   description             7085 non-null   object
 1   address                 7085 non-null   object
 2   seller_type             7085 non-null   object
 3   total_description       7085 non-null   object
 4   places_nearby           7085 non-null   object
 5   posted_date             7085 non-null   datetime64[ns]
 6   renewed_date            7085 non-null   object
 7   seller_id               7085 non-null   object
 8   estate_type             7085 non-null   object
 9   estate_id               7085 non-null   object
 10  Floors in the Building  7085 non-null   int64
 11  Floor Area              7085 non-null   int64
 12  Renovation              7085 non-null   object
 13  Construction Type       7085 non-null   object
 14  Ceiling Height          7085 non-null   float64
 15  Balcony                 7085 non-null   object
 16  Furniture               7085 non-null   object
 17  Number of Rooms         7085 non-null   object
 18  Number of Bathrooms     7085 non-null   object
 19  Elevator                7085 non-null   object
 20  Floor                   7085 non-null   int64
 21  New Construction        7085 non-null   object
 22  garage                  7085 non-null   int64
 23  covered parking         7085 non-null   int64
 24  outdoor parking         7085 non-null   int64
 25  stove                   7085 non-null   int64
 26  air conditioner         7085 non-null   int64
 27  drying machine          7085 non-null   int64
 28  fridge                  7085 non-null   int64
 29  washing machine         7085 non-null   int64
 30  dishwasher              7085 non-null   int64
 31  yard view               7085 non-null   int64
 32  view of Ararat          7085 non-null   int64
 33  park view               7085 non-null   int64
 34  city view               7085 non-null   int64
 35  street view             7085 non-null   int64
 36  concierge               7085 non-null   int64
 37  playground              7085 non-null   int64
 38  intercom entry          7085 non-null   int64
 39  sqm_price_usd           7085 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(20), object(17)
memory usage: 2.2+ MB